<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Edit Info Employee</title>
</head>
<style>
  input {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #setBorder {
    width: 70%;
  }

  div.Message {
    text-align: center;
    color: white;
  }
</style>

<body>
  <div class="container">
    <div id="setBorder">
      <form action="http://127.0.0.1:3000/EditPro/<%= id%>" method="POST">
        <div style="border: solid 1px;">
          <p class="text-black border border-dark" style="height: 40px; 
            text-align: center; padding-top: 5px; font-size: larger; background-color: #6aa0ec;">การแก้ไขข้อมูลนิสิตรอพินิจ
          </p>
          <div style="margin-left: 50px;">
            <tr>
                <td>รหัสนิสิต      <input style="margin-left: 15px;" type="text" name="fname" maxlength="50" id="Inputname" value="<%= stdIdResult %>"></td>
                <td>หน่วยกิจสะสม  <input style="margin-left: 30px;" type="text" name="fsurname" maxlength="50" id="Inputsurname" value="<%= TotalCredit %>"></td>
            </tr>
            <br>
            <tr>
                <td>ชื่อ<input style="margin-left: 15px;" type="text" name="fposition" maxlength="50" id="Inputposition" value="<%= Name %>"> </td>
                <td>ระดับ<input style="margin-left: 15px;" type="number" name="fsalary"  id="Inputsalary" value="<%= Year %>"></td>
            </tr>
            <br>
            <tr>
                <td>สกุล<input style="margin-left: 15px;" type="number" name="fsalary"  id="Inputsalary" value="<%= Surname %>"></td>
                <td>สถานะ<input style="margin-left: 15px;" type="number" name="fsalary"  id="Inputsalary" value="<%= Status %>"></td>
            </tr>
            <br>
             <tr>
                 <td>GPA<input style="margin-left: 15px;" type="number" name="fsalary"  id="Inputsalary" value="<%= GPA %>"></td>
                 <td>โปรครั้งที่<input style="margin-left: 15px;" type="number" name="fsalary"  id="Inputsalary" value="<%= Round %>"></td>
             </tr>
          <div class='Message'>
            <b id="messager"></b>
          </div>
          <div style="display: flex; justify-content: flex-end; margin-bottom: 5px;">
            <button class="btn btn-danger border border-dark" type="submit" formaction="http://127.0.0.1:3000/Cancel"
              style="margin-left:5px; margin-right: 5px; color:black; width: 150px; font-size: larger; background-color: #8fcbd1">ยกเลิก</button>
            <button class="btn btn-success border border-dark" id="SUBMIT" type="submit"
              style="margin-left:5px; color:black; width: 150px; font-size: larger; background-color: #d7c735" disabled >ตกลง</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>