<!DOCTYPE html>
<html>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    #outputManager {
            width: 100%;
            height: 100%;
        }
    .header {
        padding: 20px;
        text-align: center;
    }

    .sidenav {
        height: auto;
        width: 300px;
        background-color: white;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
    }

    .sidenav a:hover {
        color:#6aa0ec;
    }

    .footer {
        background-color: #6aa0ec;
        font-family: cursive;
        padding: 15px;
        text-align: center;
        color: white;
        font-style: italic;
    }

    .btn {
        border: none;
        background-color: inherit;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
    }
    form {
        width: 100%;
    }
</style>

<body onload="checkPosition()">
    <form action="/" method="GET">
        <table border="1">
            <tr>
                <td colspan="2">
                    <div class="header">
                        <img src="/Buu.png" style="width: 100px; float: left; margin-left: 30px;">
                        <p style="float: right; margin-right: 20px; margin-top: 40px; color: #6aa0ec;">
                             <%= name%> <%= surname%>
                        </p>
                        <p style="float: right; margin-top: 40px;">ชื่อ : </p>
                        <img src="/MEMBER.jpg" style="width: 100px; float: right; margin-right: 30px;">
                    </div>
                </td>

            </tr>

            <tr>
                <td>
                    <div class="sidenav">
                        <a href="#" id="managerSearch">ค้นหาข้อมูลนิสิตรอพินิจ</a>
                    </div>
                </td>
                <td rowspan="6">
                        <div id="outputManager"></div>
                </td>
            </tr>
            <tr>
                <td class="sidenav">
                  <a href="#" id="managerAdd">เพิ่มข้อมูลนิสิตรอพินิจ</a>
                </td>
            </tr>
            <tr>
                <td >
                    <div class="sidenav">
                      <a href="#" id="managerDel">ลบข้อมูลนิสิตรอพินิจ</a>
                    </div>
                </td>
                
            </tr>
            <tr>
              <td >
                  <div class="sidenav">
                    <a href="#" id="managerEdit">แก้ไข้ข้อมูลนิสิตรอพินิจ</a>
                  </div>
              </td>
          </tr>

          <tr>
            <td >
                <div class="sidenav">
                  <a href="#" id="managerFollow">ติดตามนิสิตรอพินิจ</a>
                </div>
            </td>
        </tr>

            <tr>
                <td>
                    <div class="sidenav"><a href="/logout">ออกจากระบบ</a></div>
                </td>
            </tr>


        </table>
    </form><div class="footer"></div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    $(function(){
      $("#managerSearch").click(function(){
        $("#outputManager").load("/data")
      })
    })


</script>

</html>