<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <body>
    <div class="container">
      <div style="border: solid 1px;">
        <p style="height: 40px; 
              text-align: center; padding-top: 5px; font-size: larger; background-color:#6aa0ec;">ค้นหา-แก้ไขข้อมูลนิสิตรอพินิจ
        </p>
        <div style="margin-left: 20px; margin-right: 20px;">
          <div class="container">
            <div class="row">
              <div class="col">
                <form id="form" name="form">ค้นหาข้อมูลนิสิตรอพินิจ :
                  <input type="text" id="search" name="search" placeholder="ค้นหาข้อมูล" size="50"/>
                  <a href="#" id="searchEmployee" class="btn btn-secondary col-sm-1" style="background-color: #5f9451">ค้นหา</a>
                </form>
              </div>
            </div>
          </div><br />
          <table class="table  border-dark table-bordered">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>รหัสนิสิต</th>
                <th>ชื่อ-สกุล</th>
                <th>GPA</th>
                <th>หน่วยกิจสะสม</th>
                <th>ระดับ</th>
                <th>สถานะ</th>
                <th>แก้ไข</th>
                <th>โปรครั้งที่</th>
              </tr>
            </thead>
            <tbody class="table border-dark table-bordered">
              <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                <tr>
                  <th scope="row">
                    <%= (i+1) %>
                  </th>
                  <td>
                    <%= data[i].std_id%>
                  </td>
                  <td>
                    <%= data[i].Name%> <%= data[i].Surname%>
                  </td>
                  <td>
                    <%= data[i].GPA%>
                  </td>
                  <td>
                    <%= data[i].TotalCredit%>
                  </td>
                  <td>
                    <%= data[i].Year%>
                  </td>
                  <td>
                    <%= data[i].Status%>
                  </td>
                  <td>
                    <%= data[i].Round%>
                  </td>
                  <td>
                    <a class="btn btn-primary" href="#" onclick="editEmployee('<%= data[i].Id_std %>')" style="background-color: #d5c4a2">แก้ไข</a>
                  </td>
                </tr>
                <% } }else{ %>
                  <tr>
                    <td colspan="8" style="text-align: center;">No user</td>
                  </tr>
                  <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script>
    $('#searchEmployee').click(function () {
      var emp = document.form.search.value
      if (emp === '') {
        $('#outputManager').load('./data')
      } else {
        $('#outputManager').load('./search/' + emp)
      }
    }) 

    function editEmployee(id) {
      $('#outputManager').load('/EditPro/'+id)
    }

  </script>

</html>